html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: #FBECCC !important;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .row {
  border: 1px dotted grey;
}
.box .row.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


#navbar {
    background-color: #E9AC2E !important;
    color: white;
}

.topRow {
    padding-top: 5px;
    padding-right: 50px;
}

.bottomRow {
    padding-bottom: 5px;
}

inputUser,
.inputPass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.inputUser {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.btnSearch {
    background-color: #5c2e09 !important;
}

.btnHeader {
    background-color: #648f54;
    box-shadow: none !important;
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: white;
}

    .btnHeader:hover {
        color: #4b6242;
    }


.itemNumber {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: white;
    line-height: 12px;
    margin-left: 10px;
}

.links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    letter-spacing: 0;
    color: #383B20;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

    .dropdown:hover {
        background-color: #FBECCC;
    }

        .dropdown:hover .links {
            color: #000;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

    .dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        display: none;
        background-color: #FBECCC;
        color: #333;
        left: 0px;
        border: 0;
        border-radius: 0;
        box-shadow: 0 4px 8px -3px #555454;
        margin: 0;
        padding: 0px;
    }

.largenav {
    display: none;
}

.smallsearch {
    margin-left: 15px;
    margin-top: 15px;
    top: 0px;
    left: 0px;
}

