body {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0:
}

img{
    max-height: 400px;
}


.fa-book-reader, .fa-plus, .fa-user, .fa-sign-out-alt, .fa-database, fab fa-readme {
    color: #E9AC2E;
}
.fa-book-open{
    color: #383B20;
}



.btnOpenBook {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
}

input.search {
    background: #fff;
    border: 0 none;
    color: #807E7E;
    float: left;
    height: 38px;
    line-height: 26px;
    font-size: 14px;
    margin: 0 0 0 12px;
    outline: medium none;
    padding: 6px 14px;
    max-width: 500px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    font-family: inherit;
}

.btnSearch {
    color: rgba(0,0,0,.6);
    background: #ebebeb;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    height: 38px;
    line-height: 46px;
    max-width: 44px;
    display: block;
    margin-left: -2px;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

.w3-container, .search, .links {
    display: block !important;
}

.w3-container {
    padding: 12px;
}

.links {
    width: 100%;
    float: right;
}

a.btnOpenBook:hover {
    color: inherit;
    background-color: whitesmoke;
    opacity: .9;
}
div.w3-display-container > div > button {
    background-color: #E9AC2E;
}
div.w3-display-container > div > button:hover {
    background-color: whitesmoke;
}

.imageContainer {
    width: 100%;
    height: 100%;
    max-height: 400px;
    border: solid;
    border-width: 5px;
    border-color: #E9AC2E;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .imageContainer > * {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

div.w3-container > img {
    width: 100%;
}
div.w3-display-container > img {
    width: 100%;
}

.w3-sidebar a {
    font-family: "Roboto", sans-serif
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
    font-family: "Montserrat", sans-serif;
}

#mySidebar {
    z-index: 3; 
    width: 250px;
}

.sidebarContainer {
    font-weight: bold;
}


.btnHeader {
    background-color: #648f54 !important;
    float: right !important;
    color: rgba(0,0,0,.6);
    border: none;
    outline: none;
    cursor: pointer;
    height: 38px;
    line-height: 46px;
    width: auto;
    display: block;
    margin-left: -2px;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.7);
}
    .btnHeader:hover {
        color: #4b6242;
    }


.itemNumber {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: auto;
    padding: 2px;
    font-weight: 500;
    display: inline-block;
    color: white;
    line-height: 12px;
    margin-left: 10px;
}