body {
}

.WahlgrenTan {
    background-color: #FBECCC;
}

.WahlgrenYellow {
    background-color: #E9AC2E;
}

.WahlgrenDark {
    color: #383B20;
}

.WahlgrenGray {
    background-color: #B7B096;
    color: #B7B096;
}