body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FBECCC !important;
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
    font-family: "Montserrat", sans-serif;
}

.preLoginCard {
    height: 400px;
    width: 350px;
    margin: auto 0 auto 0;
    background: #E9AC2E;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.logoContainer {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #383B20;
    padding: 10px;
    text-align: center;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.formContainer {
    margin-top: 100px;
}

.btnLogin {
    width: 100%;
    background: #648f54 !important;
    color: white !important;
}

    .btnLogin:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.loginContainer {
    padding: 0 2rem;
}

.inputUser,
.inputPass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.group {
    margin: 0 0 1em;
}

.error {
    background: #ecc;
    border: 1px solid #933;
    padding: 0.5em;
}

.error label {
    font-weight: bold;
    color: #933;
}

.msg {
    background: #cec;
    border: 1px solid #393;
    padding: 0.5em;
}

.msg p {
    padding-left: 0.2em;
    margin-bottom: 0.2em;
    font-size: 85%;
    font-weight: bold;
}
